.toolbar-row {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    margin: 0 auto;
    padding: 1.5vh 1vw;
    background-color: #1976D2;
}

.toolbar-icons-container{
    display:flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 100%;
    & svg{
        color:white;
        overflow:hidden;
        fill:currentColor;
    }
}